<div id="app">
  <h1>
    Backbone should be displayed here
  </h1>
</div>

<script type="html/template" id="AppViewTemplate">
  <p>An instance of the reservation Input View should go here</p>
</script>

<script type="html/template" id="SearchViewTemplate">
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======

>>>>>>> 1142f5c4c3698c212df8c6c25f46447b7a4f791e

  <input type="text" id="origin" placeholder="From" />
  <input type="text" id="destination" placeholder="To" />
  <button>Search</button>

<<<<<<< HEAD
  <!--
>>>>>>> aa851d18766659b3a1867bde9e2b541aecc12043
  <%= form_for '/search' do |f| %>
    <div class="field">
      <%= f.label :origin %>
      <%= f.text_field :origin, required: true, placeholder: 'From'  %>
    </div>

    <div class="field">
      <%= f.label :destination %>
      <%= f.text_field :destination, required: true, placeholder: 'To'  %>
    </div>

    <div class="actions">
      <%= submit_tag "Search", :name => nil, :class => "findFlight" %>
    </div>
  <% end %>
<<<<<<< HEAD
=======
  -->


=======
>>>>>>> 1142f5c4c3698c212df8c6c25f46447b7a4f791e
</script>

<script type="html/template" id="FlightListViewTemplate">
  <p>
    This will display a list of the flights
  </p>
  <ul id="flights">

  </ul>
<<<<<<< HEAD
>>>>>>> aa851d18766659b3a1867bde9e2b541aecc12043
=======
>>>>>>> 1142f5c4c3698c212df8c6c25f46447b7a4f791e
</script>
